#root , html , body{
  margin:0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{
  background-color: aliceblue;
  display: flex;
  background: url(https://www.wallpaperup.com/uploads/wallpapers/2019/02/05/1310619/37ab0be887b5a74c48c21b7928381ca0.jpg); 
 width: 100%;
 background-size: cover;
  height: 100%;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.card{
  background-color: aliceblue;
  padding: 30px;

  border-radius: 20px;
  opacity: 0.4;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
  padding-bottom: 8px;

  width: 100%;
  border-bottom: 1px solid rgb(185, 184, 184);
}
button{
  background: transparent;
  padding-right: 6px;
  padding-left: 6px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  width: fit-content;
  border-radius: 10px;
  color: red;

}